.header_style {
    font-size: large;
    margin: 10px;

}

.body_style {
    height: 200px;
    font-size: 14px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}